<h1>Make your form here</h1>

<form action="/student" method="post">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[type]">
  Pirate Height: <input type="text" name="pirate[booty]">
  Ship Name: <input type="text" name="student[courses][][topic]">
  Ship Type: <input type="text" name="student[courses][][name]">
  Ship Booty: <input type="text" name="student[courses][][topic]">
  <input type="submit">
</form>
