<h1>Make your form here</h1>

<form action="/student" method="post">
  Pirate Name: <input type="text" name="student[name]">
  Pirate Weight: <input type="text" name="student[grade]">
  Pirate Height: <input type="text" name="student[courses][][name]">
  Ship Name: <input type="text" name="student[courses][][topic]">
  Ship Type: <input type="text" name="student[courses][][name]">
  Course Topic: <input type="text" name="student[courses][][topic]">
  <input type="submit">
</form>
